@tailwind base;
@tailwind components;
@tailwind utilities;

/* To change the theme colors, change the values below
  or use the "Copy code" button at https://ui.shadcn.com/themes */

@layer base {
  :root {
    --background: 335 100% 95%;
    --foreground: 335 5% 0%;
    --card: 335 50% 90%;
    --card-foreground: 335 5% 10%;
    --popover: 335 100% 95%;
    --popover-foreground: 335 100% 0%;
    --primary: 335 77.6% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 335 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 297 30% 85%;
    --muted-foreground: 335 5% 35%;
    --accent: 297 30% 80%;
    --accent-foreground: 335 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 335 5% 90%;
    --border: 335 30% 50%;
    --input: 335 30% 18%;
    --ring: 335 77.6% 42%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 335 100% 95%;
    --foreground: 335 5% 0%;
    --card: 335 50% 90%;
    --card-foreground: 335 5% 10%;
    --popover: 335 100% 95%;
    --popover-foreground: 335 100% 0%;
    --primary: 335 77.6% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 335 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 297 30% 85%;
    --muted-foreground: 335 5% 35%;
    --accent: 297 30% 80%;
    --accent-foreground: 335 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 335 5% 90%;
    --border: 335 30% 50%;
    --input: 335 30% 18%;
    --ring: 335 77.6% 42%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
